@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

header{
  text-align: center;
}

header h1{
  font-size: 54px;
}

.color-1 {
  color: #fa071c;
}

.color-2 {
  color: #07fab5;
}

.color-3 {
  color: #faad07;
}

.color-4 {
  color: #0738fa;
}

.color-5 {
  color: #c107fa;
}

.color-6 {
  color: #81fa07;
}

.color-7 {
  color: #c74c89;
}

.color-8 {
  color: #5970cf;
}

.color-9 {
  color: #cfa959;
}

.color-10 {
  color: #597ecf;
}

.color-11 {
  color: #82e8a4;
}

.color-12 {
  color: #a182e8;
}

.color-13 {
  color: #e8c882;
}

.color-14 {
  color: #946579;
}

.color-15 {
  color: #043624;
}

.color-16 {
  color: #366478;
}

.color-17 {
  color: #78365c;
}

.color-18 {
  color: #e3dcba;
}

.color-19 {
  color: #98eb60;
}

.color-20 {
  color: #eb60e6;
}

.color-21 {
  color: #6060eb;
}

.color-22 {
  color: #ff003c;
  font-size: 60px;
}

h2{
  text-align: center;
  margin-bottom: 30px;
}

p{
  text-align: center;
  font-size: 40px;
}

.img{
  margin-top: 40px;
}

.heart{
  width: 50px;
  height: 50px;
  animation-name: knok;
  animation: knok 2s infinite ease-in-out;
}

@keyframes knok {
  0%{
    transform: scale(1);
  }
  25%{
    transform: scale(1.2);
  }
  50%{
    transform: scale(1.4);
  }
  75%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}

.ba-heart-1{
  position: absolute;
  top: 120px;
  right: 350px;
}

.ba-heart-2{
  position: absolute;
  top: 180px;
  left: 140px;
}

.ba-heart-3{
  position: absolute;
  top: 430px;
  right: 240px;
}

.ba-heart-4{
  position: absolute;
  top: 730px;
  right: 720px;
}

.ba-heart-5{
  position: absolute;
  bottom: 120px;
  left: 30px;
}

.ba-heart-6{
  position: absolute;
  bottom: 40px;
  right: 40px;
}
